body {
    background-color: chartreuse;
}
 p {
    font-size: 50px;
    color:rgb(51, 61, 15)
} 
.flex {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}
.card {
    margin: 2px;
}
